<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.sc.cse.adausc" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/iconada"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="edu.sc.cse.adausc.HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/favorites_label"
            android:name="edu.sc.cse.adausc.FavoriteScreen"
            android:parentActivityName="edu.sc.cse.adausc.HomeActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sc.edu.cse.adausc.HomeActivity" />
        </activity>
        <activity
            android:label="@string/browse_label"
            android:name="edu.sc.cse.adausc.BrowseScreen"
            android:parentActivityName="edu.sc.cse.adausc.HomeActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sc.edu.cse.adausc.HomeActivity" />
        </activity>
        <activity
            android:label="@string/calculator_label"
            android:name="edu.sc.cse.adausc.CalculatorScreen"
            android:parentActivityName="edu.sc.cse.adausc.HomeActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sc.edu.cse.adausc.HomeActivity" />
        </activity>
        <activity
            android:label="ADA Access | About"
            android:name="edu.sc.cse.adausc.AboutScreen"
            android:parentActivityName="edu.sc.cse.adausc.HomeActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sc.edu.cse.adausc.HomeActivity" />
        </activity>
        <activity
            android:label="ADA Access | Contact"
            android:name="edu.sc.cse.adausc.ContactScreen"
            android:parentActivityName="edu.sc.cse.adausc.HomeActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sc.edu.cse.adausc.HomeActivity" />
        </activity>
        <activity
            android:label="ADA Access | Document"
            android:name="edu.sc.cse.adausc.FullDocumentScreen"
            android:parentActivityName="edu.sc.cse.adausc.HomeActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sc.edu.cse.adausc.HomeActivity" />
        </activity>

        <activity
            android:label="@string/section_label"
            android:name="edu.sc.cse.adausc.SectionScreen"
            android:parentActivityName="edu.sc.cse.adausc.BrowseScreen">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sc.edu.cse.adausc.BrowseScreen" />
        </activity>

        <!-- Second Style Quick Reference Pages -->
        <activity
            android:label="@string/QR_bathroom_label"
            android:name="edu.sc.cse.adausc.QRbathroom"
            android:parentActivityName="edu.sc.cse.adausc.CalculatorScreen">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sc.edu.cse.adausc.CalculatorScreen" />
        </activity>

        <activity
            android:label="@string/QR_doors_label"
            android:name="edu.sc.cse.adausc.QRdoors"
            android:parentActivityName="edu.sc.cse.adausc.CalculatorScreen">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sc.edu.cse.adausc.CalculatorScreen" />
        </activity>

        <activity
        android:label="@string/QR_hallways_label"
        android:name="edu.sc.cse.adausc.QRhallways"
        android:parentActivityName="edu.sc.cse.adausc.CalculatorScreen">
        <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="sc.edu.cse.adausc.CalculatorScreen" />
        </activity>

        <activity
            android:label="@string/QR_ramps_label"
            android:name="edu.sc.cse.adausc.QRramps"
            android:parentActivityName="edu.sc.cse.adausc.CalculatorScreen">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sc.edu.cse.adausc.CalculatorScreen" />
        </activity>

        <activity
            android:label="@string/QR_parking_label"
            android:name="edu.sc.cse.adausc.QRparking"
            android:parentActivityName="edu.sc.cse.adausc.CalculatorScreen">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sc.edu.cse.adausc.CalculatorScreen" />
        </activity>

    </application>

</manifest>